RAINBOIDS_BIND_ADDR=0.0.0.0:8443
RAINBOIDS_METRICS_BIND=127.0.0.1:9090
RAINBOIDS_LOG_LEVEL=info
RAINBOIDS_LOG_FORMAT=pretty
RAINBOIDS_MAX_ROOMS=200
RAINBOIDS_MAX_PLAYERS_PER_ROOM=4
RAINBOIDS_TICK_HZ=60
RAINBOIDS_SNAPSHOT_HZ=20
RAINBOIDS_GRACE_SECS=30
RAINBOIDS_PAUSE_TIMEOUT_SECS=300
